/* seccion 1 */

.section1{
    padding-top:  130px;   
}

.artsection1{
    width: 80%;
} 

.imgsection1 img{
    position: relative;
    top: 0;
    margin-top: 0px;
    padding-top: 0px;
}

.conte p{
    font-size: 38px;
    font-family: 'Gruppo', cursive;
    color: black;
}

/* seccion 2 */

.section2{
    background-color: #efb810;
    box-sizing: border-box;
}

.artsection2 h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Gruppo', cursive;
}

.artsection2 p{
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
    font-size: 20px;
    font-family: 'Gruppo', cursive;
}

.imgsection2 img{
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
}

/* seccion 3 */

.section3{
    padding-top:  50px;   
}

.artsection3{
    width: 80%;
    background-size: 100%;
    border-radius: 10px;
    box-shadow: 0 15px 20px #efb810;
     
} 

.artsection3 h2{
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    /* color: #efb810; */
    color: white;
    font-size: 50px;
    font-family:'Gruppo', cursive;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .artsection3 h2 {
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
      font-size: 25px;
    }
  }

/* boton */

.boton {
    width: 450px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color:white;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-family: 'Gruppo', cursive;
  }
  
  .boton:hover {
    background: white;
    color: #89640a;
    border-radius: 5px;
    box-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 100px white;
  }
  
  .boton span {
    position: absolute;
    display: block;
  }
  
  .boton span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, white);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .boton span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, white);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .boton span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, white);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .boton span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, white);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  

  

