<!-- Section 1 -->

<section class="section1 container-fluid">
    <article class="artsection1 container shadow-lg p-3 mb-5 bg-body rounded">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                <img src="assets/Inicio/Titulo.svg" alt="">
            </div>
        </div>
        <div class="conte row mt-2 pe-2 justify-content-md-center">
            <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5 ">
                <br><br><br>
                <img src="assets/Inicio/Frase.svg" alt="">
            </div>
            <div class="imgsection1 col-sm-10 col-md-10 col-lg-5 col-xl-5 d-flex justify-content-center ms-3 me-3">
                <img src="assets/logos/Logo.svg" alt="LogoCerveceria">
            </div>
        </div>
    </article>
</section>

<!-- section 2 -->

<section class="section2 container-fluid">
    <article class="artsection2 container">
        <div class="row mt-2 pe-2 justify-content-md-center align-self-end">
            <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5 ">
                <h2>Desde nuestros inicios, trabajamos por hacer cervezas que te llenen de confianza y valor.</h2>

                <p> Siempre estamos un paso adelante llevando nuestras cervezas mas allá de lo tradicional. Estamos
                    comprometidos en diversificar la oferta cervecera en Colombia.</p>
            </div>
            <div class="imgsection2 col-sm-10 col-md-10 col-lg-5 col-xl-5">
                <img src="assets/Inicio/cervezas.svg" alt="LogoCerveceria">
            </div>
        </div>
    </article>
</section>

<!-- Section 3 -->

<section class="section3 container-fluid">
    <article class="artsection3 container p-3 mb-5 bg-body rounded"
        style="background-image:'url(assets/Inicio/Arboles.png)'">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                <h2>Nos esforzamos para trabajar en un ambiente natural, con ingredientes 100% naturales que nos
                    permiten garantizar el sabor en cada una de nuestras cervezas.</h2> 
                </div>
                
                    <a routerLink="/nuestras-cervezas" class="boton btn mt-5 mb-5">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Conoce Nuestras Cervezas</a>

            
        </div>

    </article>
</section>