<main id="main">


    <section id="about" class="about">
       <div class="container">

           <div class="section-title" data-aos="fade-up" data-aos-duration="5000">
               <h2>About Us</h2>
               <p>Somos una de las compañías más admiradas y sólidas de Colombia.
                El compromiso de nuestra gente, nuestro fuerte y balanceado portafolio de productos, la excelencia de nuestras operaciones y la gran lealtad de nuestros clientes y consumidores, nos han permitido convertirnos en una de las compañías más admiradas del país y realizar importantes contribuciones al desarrollo económico y social de Colombia.</p>
           </div>

           <div class="row mt-2">
               <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-duration="6000">
                   <div class="icon"><i class="bi bi-briefcase"></i></div>
                   <h4 class="title"><a href="">RED ALE</a></h4>
                   <p class="description">Utilizan levaduras que al final del proceso de fermentación 
                       van al fondo del tanque. Tienen contenidos de alcohol entre los 4 y 13 grados
                       y su amargo y color son menos intenso.
                   </p>
               </div>
               <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-duration="6000">
                   <div class="icon"><i class="bi bi-bar-chart"></i></div>
                   <h4 class="title"><a href="">PORTER</a></h4>
                   <p class="description">Utilizan levaduras que al final del proceso de fermentación van a la parte superior de los tanques. y tienen alcoholes entre 2.5 y 10 grados. El amargo y el color son más intenso que en las tipo Ale.
                   </p>
               </div>
               <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-duration="6000">
                   <div class="icon"><i class="bi bi-brightness-high"></i></div>
                   <h4 class="title"><a href="">PALE ALE</a></h4>
                   <p class="description">Son cervezas que se ponen en contacto con el ambiente
                        de modo que las levaduras y bacterias presentes se encargan de realizar
                        la fermentación pero no se controlan como en las ALe y Porter.
                   </p>
               </div>
           </div>

       </div>
   </section> 
</main>