<main id="main">


    <section id="about" class="about">
       <div class="container">

           <div class="section-title" data-aos="fade-up" data-aos-duration="5000">
               <h2>About Us</h2>
               <p>Illo velit quae dolorem voluptate pireda notila set. Corrupti voluptatum tempora iste ratione deleniti corrupti nostrum ut</p>
           </div>

           <div class="row mt-2">
               <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-duration="6000">
                   <div class="icon"><i class="bi bi-briefcase"></i></div>
                   <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                   <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
               </div>
               <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-duration="6000">
                   <div class="icon"><i class="bi bi-bar-chart"></i></div>
                   <h4 class="title"><a href="">Dolor Sitema</a></h4>
                   <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
               </div>
               <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-duration="6000">
                   <div class="icon"><i class="bi bi-brightness-high"></i></div>
                   <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                   <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
               </div>
           </div>

       </div>
   </section> 
</main>