<section class="contenedor">
  <div class="container text-center row-12">
    <div action="" class="formulario" id="formulario" class="row g-3">
      <div class="row">
        <div class="col-12 col-sm-12 p-5">
          <h1 class="font" data-aos="fade-up" data-aos-duration="4000">
            AGENDA YA TU PEDIDO
          </h1>
          <p class="font-2" data-aos="fade-up" data-aos-duration="4000">
            Llena el formulario con tus datos y la información de tu pedido,
            nosotros te <br />
            llamamos para confirmarlo
          </p>
          <p data-aos="fade-up" data-aos-duration="4000" class="font-3">
            También puedes comunicarte vía WhatsApp al +57 317 3824538.
          </p>
        </div>
      </div>
      <!-- </div> -->

      <!-- input -->
      <div class="container conte col-112 col-lg-8 col-md-12 col-sm-12">
        <!-- Empieza nombre nombre-->
        <div class="row">
          <div class="col-12 col-sm-6">
            <h6
              class="negrita"
              style="text-align: initial"
              data-aos="fade-up"
              data-aos-duration="4000"
            >
              <strong>¿listo para empezar tu experiencia</strong>
            </h6>
          </div>
          <div class="col-12 col-sm-6">
            <h5
              style="text-align: initial; font-size: 16px"
              data-aos="fade-up"
              data-aos-duration="4000"
            >
              Nombre <span style="color: red">*</span>
            </h5>
            <input
              id="nombre"
              type="text"
              class="form-control"
              placeholder="¿Como te llamas?"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              required
              data-aos="fade-up"
              data-aos-duration="4000"
              [(ngModel)]="nombreP"
            >
            <h5
              style="text-align: initial; font-size: 16px"
              data-aos="fade-up"
              data-aos-duration="4000"
              class="mt-3"
            >
              Correo
              <span
                style="color: red"
                data-aos="fade-up"
                data-aos-duration="4000"
                >*</span
              >
            </h5>
            <input
              type="email"
              class="form-control"
              placeholder="¿Correo Electronico?"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
              required
              data-aos="fade-up"
              data-aos-duration="4000"
              [(ngModel)]="correoP"
            />
          </div>
        </div>
        <!-- termina nombre nombre-->

        <div class="row mt-5">
          <!--Empieza los barriles-->
          <div class="col-10 col-sm-6">
            <h6
              data-aos="fade-up"
              data-aos-duration="4000"
              class="negrita"
              style="text-align: initial; font-size: 16px"
            >
              <strong>Quieres pedir</strong>
            </h6>
            <p
              data-aos="fade-up"
              data-aos-duration="4000"
              style="text-align: initial; font-size: 14px"
            >
              Si deseas más de un barril, puedes agregar el siguiente barril en
              la última pregunta.
            </p>
          </div>

          <!-- Botellas -->

          <div class="col-10 col-sm-6">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck"
                data-aos="fade-up"
                data-aos-duration="4000"
                [(ngModel)]="tipoP"
              />
              <label
                class="form-check-label ress"
                for="gridCheck"
                data-aos="fade-up"
                data-aos-duration="4000"
              >
                <!-- style="margin-right: 70%" -->
                Botellas
              </label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck"
                data-aos="fade-up"
                data-aos-duration="4000"
                [(ngModel)]="tipoP"
              />
              <label
                class="form-check-label res"
                for="gridCheck"
                data-aos="fade-up"
                data-aos-duration="4000"
              >
                <!-- style="margin-right: 58%" -->
                Barril 19 Litros
              </label>
            </div>

            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="gridCheck"
                data-aos="fade-up"
                data-aos-duration="4000"
                [(ngModel)]="tipoP"
              />
              <label
                class="form-check-label res"
                for="gridCheck"
                data-aos="fade-up"
                data-aos-duration="4000"
              >
                <!-- style="margin-right: 59%" -->
                Barril 50 Litros
              </label>
            </div>
          </div>
        </div>

        <div class="row mt-5" style="text-align: initial">
          <div class="col"></div>
          <h6 data-aos="fade-up" data-aos-duration="4000" class="negrita">
            <strong>¿Cuantas cervezas deseas de cada una?</strong>
          </h6>
          <p data-aos="fade-up" data-aos-duration="4000">
            Recuerda que en el caso de botellas el pedido es de mínimo doce (12)
            cervezas totales.
          </p>
        </div>
        <div class="row text-center">
          <div
            class="col-12 col-sm-4 mt-3"
            data-aos="fade-up"
            data-aos-duration="4000"
          >
            <div>
              <h5 class="h5_font">RED ALE</h5>
              <button
                onchange=" restaCervezas(this.value)"
                onclick="decrementar(), restaCervezas()"
                class="btn-input"
                id="aumentar"
                type="button"
                class="c-icon-button c-number-value"
                style="
                  background-color: #f9ecc7;
                  border: 0;
                  width: 40px;
                  height: 35px;
                "
                tabindex="-1"
              >
                -
              </button>

              <input class="ipt" value="0" id="item" name="item" type="text" [(ngModel)]="redAleP"/>

              <button
                onclick="incrementar(), totalCervezas()"
                value="suma"
                class="btn-input"
                id="desminuir"
                type="button"
                class="c-icon-button c-number-value"
                style="
                  background-color: #f9ecc7;
                  border: 0;
                  width: 40px;
                  height: 35px;
                "
              >
                +
              </button>
            </div>
          </div>
          <div
            class="col-12 col-sm-4 mt-3"
            data-aos="fade-up"
            data-aos-duration="4000"
          >
            <div>
              <h5 class="h5_font">PORTER</h5>
              <button
                class="btn-input"
                id="aumentar"
                type="button"
                onclick="decrementarr(), restaCervezas()"
                class="c-icon-button c-number-value"
                style="
                  background-color: #f9ecc7;
                  border: 0;
                  width: 40px;
                  height: 35px;
                "
                tabindex="-1"
              >
                -
              </button>

              <input
                class="ipt"
                type="text"
                value="0"
                id="itemm"
                name="itemm"
                [(ngModel)]="porterP"
              />

              <button
                class="btn-input-bt"
                id="desminuir"
                type="button"
                onclick="incrementarr(), totalCervezas()"
                class="c-icon-button c-number-value"
                style="
                  background-color: #f9ecc7;
                  border: 0;
                  width: 40px;
                  height: 35px;
                "
              >
                +
              </button>
            </div>
          </div>

          <div
            class="col-12 col-sm-4 mt-3"
            data-aos="fade-up"
            data-aos-duration="4000"
          >
            <div>
              <h5 class="h5_font">PALE ALE</h5>
              <button
                class="btn-input"
                id="aumentar"
                onclick="decrementars(), restaCervezas()"
                type="button"
                class="c-icon-button c-number-value"
                style="
                  background-color: #f9ecc7;
                  border: 0;
                  width: 40px;
                  height: 35px;
                "
                tabindex="-1"
              >
                -
              </button>

              <input class="ipt" type="text" value="0" id="items" name="item" [(ngModel)]="paleAleP" />

              <button
                class="btn-input"
                id="desminuir"
                type="button"
                class="c-icon-button c-number-value"
                style="
                  background-color: #f9ecc7;
                  border: 0;
                  width: 40px;
                  height: 35px;
                "
                onclick="incrementars(), totalCervezas()"
                onchange="totalCervezas(this.value)"
              >
                +
              </button>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div
            class="col"
            style="margin-right: 700px"
            data-aos="fade-up"
            data-aos-duration="4000"
          >
            <h5 class="negrita tts" style="margin-left: -4px">
              Total Cervezas
            </h5>
            <input
              class="ipt mb-3"
              type="text"
              value="0"
              id="total"
              name="total"
              required
              style="margin-right: 80px"
              [(ngModel)]="totalP"
            />
          </div>
        </div>

        <div class="row">
          <div
            class="col"
            style="text-align: initial"
            data-aos="fade-up"
            data-aos-duration="4000"
          >
            <h5 class="negrita">
              ¿A qué dirección quieres que llevemos tus artesanales? necesario
              <span style="color: red">*</span>
            </h5>
            <div class="input-group">
              <textarea
                class="form-control"
                aria-label="With textarea"
                placeholder="Escriba tu direccion de entrega"
                required
                [(ngModel)]="direccionP"
              ></textarea>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div
            class="col"
            style="text-align: initial"
            data-aos="fade-up"
            data-aos-duration="4000"
          >
            <h5 class="negrita">
              ¿A qué teléfono podemos contactarte? necesario
              <span style="color: red">*</span>
            </h5>
            <input
              type="tel"
              class="form-control"
              placeholder="Celular o telefono"
              aria-label="Example text with button addon"
              aria-describedby="button-addon1"
              required
              [(ngModel)]="telefonoP"
            />
          </div>
        </div>

        <div class="row">
          <div
            class="col mt-3"
            style="text-align: initial"
            data-aos="fade-up"
            data-aos-duration="4000"
          >
            <h5 class="negrita">
              ¿Algo más que debamos saber? <span style="color: red">*</span>
            </h5>
            <div class="input-group">
              <textarea
                class="form-control"
                placeholder="Nos puedes contar algun requerimiento especifico de tu pedido, o algun detalle de la dirección que debamos anotar"
                aria-label="With textarea"
                required
                [(ngModel)]="comentarioP"
              ></textarea>
            </div>
          </div>
        </div>
        <div>
         <button class="col btn btn-lg btn-dark mt-5 mb-5"
          data-aos="fade-up"
          data-aos-duration="4000"
          (click)="crearpedido()">Enviar pedido</button>
        
       
          
        </div>
     

        <!-- 
        <input style="margin-right: 700px;" type="submit" value="Enviar pedido" class="btn btn-lg btn-dark mt-5 mb-5"  data-aos="fade-up" data-aos-duration="4000"> -->
      </div>

      <!-- </form>

    </div> -->

      <!-- </section> -->
  </div>
  </div>
</section>
