
<section class="sectionportada">
    <div class="container">

        <div class="row">
            <div class="col-12 col-sm-8 portxt text-center mt-5 " >
                <p style="margin-top: 100px;" data-aos="fade-up" data-aos-duration="4000" class="h-por">HASTA LA PUERTA DE TU CASA</p>
                <h5  data-aos="fade-up" data-aos-duration="4000" class="p-por">TE LLEVAMOS NUESTRAS CERVEZAS </h5>
            </div>

            <div id="arrr" class="col-12 col col-sm-4 porImg text-center " >
                <img data-aos="fade-up" data-aos-duration="4000" src="/assets/Pedidos/Asset 17.svg" alt="">
            </div>



        </div>