<div class="container-portada">
    <div class="capa-gradient"></div>
    <div class="container-details">
        <div class="details">
            <h1>HASTA LA PUERTA DE TU CASA</h1>
            <p>TE LLEVAMOS NUESTRAS CERVEZAS !</p>
            <a routerLink="/formulario" class="boton btn mt-5 mb-5">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Ver mas detalles</a>
            
            
            <!-- ><button>Ver mas detalles</button></a> -->
            
        </div>
    </div>
</div>

