<body>

<div class="w3l-banner-layer" style="margin-top: 100px">
  <div class="container text-center">
    <div class="agileinfo-logo">
      <h1>
        <a href="index.html"
          ><img class="lo" src="/assets/logos/Logo.svg" alt="" /><br />
          Cerveseria San Nicolas</a
        >
      </h1>
    </div>
    <h2 class="txt-w3_agile">Página web en<br />construcción.</h2>
    <span class="bar"></span>
    <p>get notified once we launch.</p>
    <div class="sub-form-wthree">
      <form action="#" method="post">
        <input
          type="email"
          name="email"
          size="30"
          required=""
          placeholder="Email"
        />
        <button class="btn1">
          <span class="fa fa-paper-plane" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>
  <div class="footer"></div>
</div>
    
</body>