<!-- section 1 -->

<section class="section1 container-fluid">
  <article class="artsection1 container">
    <div class="row mt-2 pe-2 justify-content-md-center align-self-end">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
        <br><br><br><br>
        <h2>SOMOS <br> SAN NICOLAS CERVECERIA</h2>

        <br><br><br><br><br>

        <p> TOMA NATURAL, DISFRUTA EL MOMENTO </p>

          <br><br><br><br>
      </div>
    </div>
  </article>
</section>

<!-- carrousel -->

<div class="artsection3 container p-3 mb-5 bg-body rounded">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/QuienesSomos/vista1.jpg" class="d-block w-100" alt="vista1">
      </div>
      <div class="carousel-item">
        <img src="assets/QuienesSomos/vista2.jpg" class="d-block w-100" alt="vista2">
      </div>
      <div class="carousel-item">
        <img src="assets/QuienesSomos/vista3.jpg" class="d-block w-100" alt="vista3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<!-- section 1 -->

<section class="section2 container-fluid">
  <article class="artsection2 container">
    <div class="row mt-2 pe-2 justify-content-md-center align-self-end">
      <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5 ">
        <h2>Desde nuestros inicios, trabajamos por hacer cervezas que te llenen de confianza y valor.</h2>

        <p> Siempre estamos un paso adelante llevando nuestras cervezas mas allá de lo tradicional. Estamos
          comprometidos en diversificar la oferta cervecera en Colombia.</p>
      </div>
      <div class="imgsection2 col-sm-10 col-md-10 col-lg-5 col-xl-5">
        <img src="assets/Inicio/cervezas.svg" alt="LogoCerveceria">
      </div>
    </div>
  </article>
</section>

