

<!-- section 1 -->

<section class="section1 container-fluid" >
    <article class="artsect1 container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="divsect1 mt-2 pe-2 d-flex justify-content-md-center align-items-center col-sm-10 col-md-10 col-lg-5 col-xl-5">
          <h1>
            Conoce <br> Nuestras Cervezas!
          </h1>
        </div>
        <div
          class="divsect1 imgsection1 col-sm-10 col-md-10 col-lg-5 col-xl-5 d-flex align-items-center justify-content-center">
          <img src="assets/NuestrasCervezas/Izquierda.svg" class="img1" alt="">
          <img src="assets/NuestrasCervezas/Derecha.svg" class="img2" alt="">
        </div>
      </div>

    </article>
  </section>

  <!-- <div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
  </div> -->

  <!-- Red Ale-->

  <section class="clara container-fluid">
    <article class="artclara  container">
      <div class="row mt-2 pe-2 d-flex justify-content-md-center">
        <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5 ">
          <h2>RED ALE</h2>

          <p id="redale">Sabor a malta caramelo de moderado a muy bajo y dulce. En boca es a
            menudo bastante neutral y granosa, o puede tomar una nota ligeramente
            tostada o a bizcocho hacia el final, con un ligero sabor a grano tostado.</p>

          <h3>IBUs: 24 - Alcohol: 5,1% </h3>
        </div>
        <div class="imgclara col-sm-10 col-md-10 col-lg-5 col-xl-5 d-flex justify-content-md-center">
          <img src="assets/NuestrasCervezas/Clara.svg" class="img-fluid rounded mx-auto d-block"
            alt="CervezaClara">
        </div>
        <a routerLink="/pedidos" class="boton btn mt-5 mb-5">
          <span></span>
          <span></span>
          <span></span>
          <span></span>REALIZAR PEDIDO</a>
      </div>
    </article>
  </section>

  <!-- Porter-->
  <section class="morena container-fluid">
    <article class="artmorena container">
      <div class="row mt-2 pe-2 d-flex justify-content-md-center">
        <div class="imgmorena col-sm-10 col-md-10 col-lg-5 col-xl-5 d-flex justify-content-md-center">
          <img src="assets/NuestrasCervezas/Morena.svg" class="img-fluid rounded mx-auto d-block"
            alt="CervezaClara">
        </div>
        <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5 ">
          <h2>PORTER</h2>

          <p>Impresiones a malta oscura tostada con sabores a café o
            chocolate que dominan el paladar. El amargor del lúpulo es moderado. Un dulzor
            medio a alto ofrece un contrapunto al carácter tostado y al amargor del lúpulo,
            perdurando en el final. Ésteres frutales bajos a moderados.</p>

          <h3>IBUs: 23 - Alcohol: 4,5% </h3>
        </div>
        <a routerLink="/pedidos" class="boton btn mt-5 mb-5">
          <span></span>
          <span></span>
          <span></span>
          <span></span>REALIZAR PEDIDO</a>
      </div>
    </article>
  </section>

  <!-- Pale Ale-->

  <section class="rubia container-fluid">
    <article class="artrubia  container">
      <div class="row mt-2 pe-2 d-flex justify-content-md-center">
        <div class="col-sm-10 col-md-10 col-lg-5 col-xl-5 ">
          <h2>PALE ALE</h2>

          <p>Paladar suave y redondeado formado por un delicado equilibrio de sabor
            suave a malta, aunque atenuada, con un dulzor frutal casi imperceptible de la
            fermentación y un amargor medio-bajo a medio con una sequedad delicada y
            una ligera rugosidad en el final..</p>

          <h3>IBUs: 18 - Alcohol: 4,7% </h3>
        </div>
        <div class="imgrubia col-sm-10 col-md-10 col-lg-5 col-xl-5 d-flex justify-content-md-center">
          <img src="assets/NuestrasCervezas/Rubia.svg" class="img-fluid rounded mx-auto d-block"
            alt="CervezaClara">
        </div>
        <a routerLink="/pedidos" class="boton btn mt-5 mb-5">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          REALIZAR PEDIDO</a>
      </div>
    </article>
  </section>

 