

.social-links {
    margin-top: 33px;
    margin-bottom: 30px;
}

.social-links a {
    font-size: 16px;
    color: #EFB810;
    margin: 0 3px;
    border-radius: 50%;
    border-color: #EFB810 ;
    width: 48px;
    height: 48px;
    transition: 0.3s;
    border: 1px solid #EFB810;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.social-links a i {
    line-height: 0;
}

.social-links a:hover {
    background: #EFB810 ;
    border-color: #EFB810 ;
    color: #fff;
    /* #24b7a4 */
}
