<!-- header menu principal -->
<header>
    <nav class="navbar navbar-expand-lg  menu1">
        <div class="container-fluid">
            <div>
  
                <a class="navbar-brand" routerLink="/inicio">
                    <img src="assets/logos/Logo.svg" ng-fallimg alt="LogoSanNicolas" width="100" height="100">
                    <img src="assets/logos/Titulo.svg" ng-fallimg alt="LogoSanNicolas" width="100" height="100">
                </a>
            </div>
            <!-- <a class="navbar-brand text-center tipografia link-dark" href="#">Cerveceria <br> San Nicolas</a> -->
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse flex-row-reverse bd-highlight" id="navbarNavDropdown">
                <ul class="navbar-nav ">
                    <li class="nav-item ms-3 ">
                        <a class="nav-link  tipografia link-dark" aria-current="page" routerLink="/inicio"  >Inicio</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link tipografia link-dark" routerLink="/nuestras-cervezas">Nuestras
                            Cervezas</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link tipografia link-dark " routerLink="/pedidos">Pedidos</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="nav-link tipografia link-dark" routerLink="/paginaEnMantenimiento">Quiénes somos</a>
                    </li>
                    <li class="nav-item ms-3" >
                        <a class="nav-link tipografia link-dark" routerLink="/contactos">Contacto</a>
                    </li>
  
                </ul>
            </div>
        </div>
    </nav>
  </header>


  