

    <main>

        <div class="container__card   ">
            

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/assets/targetas/Clara.svg);" >
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1 class="red">RED ALE <br> <span class="red"style="font-size: 20px;">IBUs: 24 - Alcohol: 5,1%</span></h1>
                        </div>
                    </div>
                    <div class=" card__back">
                        <div class="body__card_back">
                            <h1 class="red">RED ALE </h1>
                            <p class="red">Sabor a malta caramelo de moderado a muy bajo y dulce. En boca es a menudo bastante neutral y granosa </p>
                            <a routerLink="/nuestras-cervezas"><input  type="button" value="Leer Más"></a>
                            <!-- <input  type="button" value="Leer Más"> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class=" card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/assets/targetas/Morena.svg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1 class="red">PORTER <br> <span class="red"style="font-size: 20px;">IBUs: 23 - Alcohol: 4,5% </span> </h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1 class="red">PORTER</h1>
                            <p class="red">Impresiones a malta oscura tostada con sabores a café o chocolate que dominan el paladar.</p>
                            <input routerLink="/nuestras-cervezas" type="button" value="Leer Más">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__father">
                <div class="card">
                    <div class="card__front" style="background-image: url(/assets/targetas/Rubia.svg);">
                        <div class="bg"></div>
                        <div class="body__card_front">
                            <h1 class="red"> PALE ALE <br> <span class="red"style="font-size: 20px;">IBUs: 18 - Alcohol: 4,7%  </span></h1>
                        </div>
                    </div>
                    <div class="card__back">
                        <div class="body__card_back">
                            <h1 class="red">PALE ALE</h1>
                            <p class="red">Paladar suave y redondeado formado por un delicado equilibrio de sabor suave a malta. </p>
                            <input routerLink="/nuestras-cervezas" type="button" value="Leer Más">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </main>
    

