
<section class="gallery min-vh-100 mt-5" data-aos="fade-up" data-aos-duration="4000">
    <div class="container-lg">
        <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
            <div class="col">
                <img src="/assets/lightbox/1.jpg" class="gallery-item">
            </div>
            <div class="col">
                <img src="/assets/lightbox/2.jpg" class="gallery-item">
            </div>
            <div class="col">
                <img  src="/assets/lightbox/3.jpg" class="gallery-item" >
            </div>

            <!-- <div class="col">
                <img src="/img gallery/img/4.jpg" class="gallery-item" alt="gallery">
            </div>
            <div class="col">
                <img src="/img gallery/img/5.jpg" class="gallery-item" alt="gallery">
            </div>
            <div class="col">
                <img src="/img gallery/img/6.jpg" class="gallery-item" alt="gallery">
            </div> -->
        </div>
    </div>
    <div class="container text-center">
        <div class=" text-center ">
            <a routerLink="/nuestras-cervezas"><button class="btn btn-lg btn-dark mt-5 mb-5" >CONOCE NUESTRAS CERVEZAS</button></a>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                <a href=""><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
            </div>
            <div class="modal-body">
                <img src="img/1.jpg" class="modal-img" alt="modal img">
            </div>
        </div>
    </div>
</div>


